.side-nav{
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#f1f1f1;
    overflow-x: hidden;
    box-shadow: 10px 10px 50px 5px grey;
}

.dropdown-btn{
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-container{
    display: none;
    position: fixed;
    top:0;
    left: 220px;
    width: 200px;
    background-color: #8dfdff;
    z-index: 1;
}

.dropdown-container button{
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.home{
    background-color: black !important;
    color: white;
}

.dropdown-btn:hover{
    background-color: #8dfdff;
}

.dropdown-btn:hover .dropdown-container{
    display: block;
}

.sub-btn{
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-container-sub{
    display: none;
    position: fixed;
    top:0;
    background-color: #8dfdff;
    z-index: 1;
    left: 420px;
    width: 200px;
}

.sub-btn:hover .dropdown-container-sub{
    display: block !important;
}